section,
footer,
header.page-header {
  position: relative;
  max-width: $page-max-width;
  margin: 0 auto;
  padding: $page-padding;

  &.wide {
    max-width: $page-max-width-wide;
  }

  @include media-breakpoint-down(md) {
    padding: $page-padding-md;
  }

  @include media-breakpoint-down(xs) {
    padding: $page-padding-xs;
  }

  &.no-padding {
    padding: 0;

    @include media-breakpoint-down(md) {
      padding: 0;
    }

    @include media-breakpoint-down(xs) {
      padding: 0;
    }
  }
}

header.page-header {
  text-align: center;

  h1 {
    margin-bottom: $item-spacing-xs;
  }

  p {
    font-size: $fs-xl;
    font-weight: $fw-medium;
    text-transform: capitalize;
  }
}

section > div:not(:last-child) {
  margin-bottom: $section-padding-horizontal;

  @include media-breakpoint-between(sm, md) {
    margin-bottom: $section-padding-horizontal-md;
  }

  @include media-breakpoint-down(xs) {
    margin-bottom: $section-padding-horizontal-xs;
  }
}

#__next {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 100vw;
}

hr {
  max-width: $page-max-width;
  padding: 0 $page-padding-horizontal;
  margin: 0 auto;
  border: none;
  width: 100%;
  height: 2px;
  position: relative;
  top: -1px;

  &:before {
    content: "";
    display: block;
    border-top: 2px dashed $theme;
    opacity: 0.4;
    height: 100%;
    width: 100%;
  }

  @include media-breakpoint-down(md) {
    padding: 0 $page-padding-md-horizontal;
  }

  @include media-breakpoint-down(xs) {
    padding: 0 $page-padding-xs-horizontal;
  }
}

main {
  flex: 1;
  background-color: $page-background;
}

@include media-breakpoint-down(sm) {
  body.mobile-menu {
    #page {
      padding-left: 80vw;
      overflow-x: hidden;

      transition: padding-left 250ms ease-out;
    }

    main {
      min-width: 100vw;
    }
  }
}

header > h2 + p {
  margin-top: $item-spacing;
}

.bg-white {
  background-color: $white;
}

.bg-medium {
  background-color: $page-background-medium;
}

.bg-dark {
  background-color: $page-background-dark;
}

.xs-down {
  @include media-breakpoint-up(sm) {
    display: none !important;
  }
}

.sm-down {
  @include media-breakpoint-up(md) {
    display: none !important;
  }
}

.md-down {
  @include media-breakpoint-up(lg) {
    display: none !important;
  }
}

.lg-down {
  @include media-breakpoint-up(xl) {
    display: none !important;
  }
}

.xl-down {
  @include media-breakpoint-up(xxl) {
    display: none !important;
  }
}

.sm-up {
  @include media-breakpoint-down(xs) {
    display: none !important;
  }
}

.md-up {
  @include media-breakpoint-down(sm) {
    display: none !important;
  }
}

.lg-up {
  @include media-breakpoint-down(md) {
    display: none !important;
  }
}

.xl-up {
  @include media-breakpoint-down(lg) {
    display: none !important;
  }
}

.xxl-up {
  @include media-breakpoint-down(xl) {
    display: none !important;
  }
}

.toc {
  background-color: $page-background-medium;
  padding: 0.9rem 1rem 0.9rem 2.4rem;
  border-radius: $border-radius;
  border: 1px solid $border-dark;
  margin-top: 0;
  margin-bottom: $item-spacing;

  ol {
    margin-top: 0;
    margin-bottom: 0;
  }

  a {
    font-size: $fs-sm;
  }

  li {
    list-style-type: disc;
  }
}
