@import "../../styles/imports";

.center {
  text-align: center;

  &.singleColumn {
    align-items: center;
  }

  p {
    margin-left: auto;
    margin-right: auto;
  }
}

.header {
  margin-bottom: $section-padding-horizontal-md;

  @include media-breakpoint-down(xs) {
    margin-bottom: $section-padding-horizontal-xs;
  }

  p {
    font-weight: $fw-medium;
    max-width: $header-max-width;
    font-size: $fs-xl;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-transform: capitalize;
    margin-bottom: $section-padding-horizontal;

    @include media-breakpoint-between(sm, md) {
      margin-bottom: $section-padding-horizontal-md;
    }

    @include media-breakpoint-down(xs) {
      margin-bottom: $section-padding-horizontal-xs;
    }
  }
}

.imageContainer {
  position: relative;
  display: block;
}

.singleColumn {
  display: flex;
  flex-direction: column;
  gap: $item-spacing;
  align-items: flex-start;

  & > p {
    margin: 0;
  }
}

.grid {
  display: grid;
  gap: $item-spacing $section-padding-horizontal;

  & > p {
    margin: 0;
  }

  @include media-breakpoint-between(sm, md) {
    gap: $item-spacing $section-padding-horizontal-md;
  }

  @include media-breakpoint-down(xs) {
    gap: $item-spacing $section-padding-horizontal-xs;
  }

  @for $i from 1 through 8 {
    @include media-breakpoint-up(md) {
      &.col#{$i} {
        grid-template-columns: repeat(#{$i}, auto);
      }
    }
  }
}
