$light-text: #808080;
$black: #212121;
$white: #fff;

$theme-lime: #46dbd6;
$theme-lime-light: #89dbd2;

$theme: #72b8f1;
$theme-medium: #3274aa;
$theme-dark: #1a4d77;
$theme-extra-dark: #071538;

$page-background: #f6f8fc;
$page-background-medium: #e0e5ee;
$page-background-dark: #b2bbcd;
$border-dark: #b6bdc9;

$button-normal: #4bb1a5;
$button-hover: #388a81;
$button-active: #154c46;

$primary-button-normal: #227bc4;
$primary-button-hover: #3493e0;
$primary-button-active: #0e3555;

$link-normal: #0c60a5;
$link-hover: #072640;
$link-active: #072640;
