$fw-normal: 400;
$fw-medium: 500;
$fw-bold: 600;
$fw-extra-bold: 700;
$fw-header-bold: 800; // for the header font-family used by titles

$fs-h1: 2.25rem;
$fs-h2: 1.75rem;
$fs-h3: 1.375rem;
$fs-h4: 1.25rem;
$fs-h5: 1.125rem;
$fs-h6: 1rem;

$fs-xl: 1.25rem; // 20px
$fs-lg: 1.125rem; // 18px
$fs-normal: 1rem; // 16px
$fs-sm: 0.875rem; // 14px

$page-max-width: 1270px; // the max width of content within a page (excluding the padding)
$page-max-width-wide: 1400px;
$page-nav-height: 76px;
$page-nav-height-shrunk: 46px;
$content-max-width: 980px;
$header-max-width: 980px;

// Page Spacing (e.g., Large Sections of the Page):
$page-padding-vertical: 40px;
$page-padding-horizontal: 60px;
$page-padding: $page-padding-vertical $page-padding-horizontal;

$page-padding-md-vertical: 20px;
$page-padding-md-horizontal: 30px;
$page-padding-md: $page-padding-md-vertical $page-padding-md-horizontal;

$page-padding-xs-vertical: 15px;
$page-padding-xs-horizontal: 5px;
$page-padding-xs: $page-padding-xs-vertical $page-padding-xs-horizontal;

$section-padding-horizontal: 40px;
$section-padding-horizontal-md: 20px;
$section-padding-horizontal-xs: 15px;

$border-radius: 4px;

// Item Spacing:
$item-spacing-mobile-xs: 0.25rem; // for mobile
$item-spacing-mobile-sm: 0.5rem; // for mobile
$item-spacing-mobile: 0.75rem; // for mobile
$item-spacing-mobile-lg: 1.25rem; // Rarely ever use this!

$item-spacing-xs: 0.5rem; // For labels mostly
$item-spacing-sm: 0.75rem; // Related items that need to be close together.
$item-spacing: 1rem; // Use this mostly
$item-spacing-md: 1.5rem;
$item-spacing-lg: 2rem; // E.g. Vertical dividers, container-spacing. Rarely ever use this!
$item-spacing-xl: 4rem; // for very large containers, such as a page banner
